body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-image: 'img2.jpg';
	background-size: cover;
	background-position: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100vh;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
}

.content {
	width: 40%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 767px) {
	.container {
		justify-content: center;
	}
	.content {
		width: 80%;
	}
}
